<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" href="./index.css">
    <title>My TODO App</title>
</head>
<body ng-app="TodoApp" ng-controller="TodoController as TC">
<h1 id="heading">todos</h1>
<div class="todoLayer">
    <div class="userData">
        <input type="text" id="input" ng-model="userInput" placeholder="What needs to be done?"
               ng-keypress="save()" ng-required/>
    </div>
     <button id="clearList" ng-click="clear()">Clear All</button>
    <div id="notification" ng-show="todoList.length">
        <table id="todoData">
            <tr ng-repeat="item in todoList">
                <td>
                    {{item}}
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>